<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
</head>
<body style="display: flex; align-items: center; justify-content: center;">
        <form>
            <p> 
                <input placeholder="Логин"> 
            </p>
            <p> 
                <input placeholder="Пароль"> 
            </p>
            <a href="/reg">
                Зарегестрироваться 
            </a>
            <button>Войти</button> 
        </form>
 </body>

</html>