<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'css/home.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="con-1">
            <a class="user-profile" href="">
                Профиль
            </a>
        </div>
        <div class="con-2">
            <button>
                Поиск
            </button>
            <input placeholder="Найти"/>
        </div>
    </header>
    <div class="container-book">
        <div class="book">
            <span>1</span>
            <img>
        </div>
        <div class="book">
            <span>1</span>
            <img>
        </div>
        <div class="book">
            <span>1</span>
            <img>
        </div>
        <div class="book">
            <span>1</span>
            <img>
        </div>
        <div class="book">
            <span>1</span>
            <img>
        </div>

        <div class="book">
            <span>1</span>
            <img>
        </div>
        <div class="book">
            <span>1</span>
            <img>
        </div>
        <div class="book">
            <span>1</span>
            <img>
        </div>
        <div class="book">
            <span>1</span>
            <img>
        </div>
        <div class="book">
            <span>1</span>
            <img>
        </div>
        <div class="book">
            <span>1</span>
            <img>
        </div>
        <div class="book">
            <span>1</span>
            <img>
        </div>
        <div class="book">
            <span>1</span>
            <img>
        </div>
        <div class="book">
            <span>1</span>
            <img>
        </div>
        <div class="book">
            <span>1</span>
            <img>
        </div>
        <div class="book">
            <span>1</span>
            <img>
        </div>
        <div class="book">
            <span>1</span>
            <img>
        </div>
    </div>
    <div class="container-favorite">
        <button>
            <a>
                Избранные
            </a>
        </button>
    </div>
</body>
</html>