<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body style="display: flex; align-items: center; justify-content: center;">
    <form>
        <p> 
            <input placeholder="Логин"> 
        </p>
        <p> 
            <input placeholder="Пароль"> 
        </p>
        <a href="/avt">
                Авторизоваться
        </a>
        <button>Зарегистрироваться</button> 
    </form>
</body>
</html>